@font-face{
    font-family: Proxima;
    src: url(Font/Proxima\ N\ W01\ Reg.ttf);
}
body {
    font-family: Proxima;
}
/*Home Page*/
.homePage td{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}
.homePage a{
    text-decoration: none;
    color: black;
}

.homePage{
   
 position: relative;
 margin-top: 150px;
 
}
.top{
margin: 0 auto;
padding-top: 5%;
}

/*End Home Page*/


/*Header*/
.logo img{
    height: auto;
    width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
 margin-bottom: 25px;
}
.logo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
li {
   color: rgba(255, 255, 255, 0);
   padding: 16px;
   text-decoration: none;
   display: inline-block;
   
   
}
header {
    color: black;
}

ul{
    display: block;
    text-align: center;
 width: 100%;
  padding: 0;
  margin:auto;
}
ul li a{
    color: black;
    text-decoration: none;
}



.headerText{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
}
/*End Header*/


/*Clients*/
@media (min-width: 1150px) {
    .clientsGrid {
        display: grid;
         grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto; }
  }
  .clientsGrid {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    margin-top: 50px;
    gap: 60px;
  }
  .clientsGrid img{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .clientsGrid p {
      font-size: 25px;
      font-weight: bold;
  }
  .clientGridFix{
    text-align: center;
  }
  /*End Clients Page*/

  /*Artist Page*/
  @media (min-width: 1000px) {
    .artistPage {
        display: grid;
         grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;    
}
  }
  .artistPage {
      display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    grid-gap: 1rem;
    gap: 50px;
  }
.columnThree{
    font-size: 20px;
    text-align: center;
}
.artistPageImg img {
    margin-right: auto;
    margin-left: auto;
    height: 325px;
    width: 300px;
  }
.social-item img {
    height: 25px;
    width: 25px;
}

.spot iframe {
    height: 325px;
   min-width: 300px;
   max-width: 300px;
    margin: 0 auto;
    text-align: center;
    
  
}
  /*End Artists Page*/


  /*Contact Page*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(255, 255, 255); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}


textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#000000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

/*End Contact Page*/
